.title-font {
  font-family: "Afacad Flux", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.body-font {
  font-family: "Afacad Flux", sans-serif;
  font-weight: 300;
  font-variation-settings: "slnt" 0;
}

a:focus,
button:focus {
  outline: 2px solid #a855f7; /* Purple-500 */
  outline-offset: 4px;
}
